
#jumpMenu{
    background-color: orange;
    display: flex;
    flex-direction: column;
    position:fixed;
    top: 0;
    left: 0;
    width:200px;
    height:75em;
    margin-right:35em;
    a{
        margin: 7px;
        margin-left: 50px;
    }
    h2{
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 35px;
        width: 200px;
    }
}

header{
    position:sticky;
    top:0;
    height: 10em;
    background-color: white;
    p{
        display: flex;
        justify-content: center;
        
        font-size: 2em;
    }
    nav{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
    }
    button{
        background-color:skyblue;
        font-size: 1em;
    }
}

h1{
    display: flex;
    justify-content: center;
}

#container{
    display:flex;
    flex-wrap: wrap;
    p, h2{
        width: 300px;
        margin: 20px;
    }
}

main{
    margin-left: 15em;
    #thanks{
        position:fixed;
        right: 0;
        bottom: 0;
        font-size: 2em;
        background-color: aqua;
    }
}